<p id="notice"><%= notice %></p>

<p>
  <strong>Semester:</strong>
  <%= @schedule.semester %>
</p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @schedule.time %>
</p>

<p>
  <strong>Project:</strong>
  <%= @schedule.project %>
</p>

<p>
  <strong>Fieldwork:</strong>
  <%= @schedule.fieldwork %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @schedule.ratings %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
