<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id, id: :professor_email_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :professor_name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :professor_website %>
  </div>

  <div class="field">
    <%= form.label :research %>
    <%= form.text_field :research, id: :professor_research %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
