<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @professor.email_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @professor.website %>
</p>

<p>
  <strong>Research:</strong>
  <%= @professor.research %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
