<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Syllabus:</strong>
  <%= @course.syllabus_id %>
</p>

<p>
  <strong>Prerequisites:</strong>
  <%= @course.prerequisites %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Core:</strong>
  <%= @course.core %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @course.channel_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
